venv/
__pycache__/
*.pyc
.DS_Store
logs/
checkpoints/
data/
results/
*.sqlite3
*.log
*.csv
.ipynb_checkpoints
.vscode/

# Arquivos grandes (modelos e resultados)
*.pth
*.zip
*.tar.gz
notebooks/checkpoints/
notebooks/results/

